body {
    font-family: Arial, sans-serif;
    background-color: lightpink;
    margin: 40px;
    padding: 0; 
}

header {
    background-color: lightpink;
    color: rgb(72, 28, 41);
    padding: 35px;
    text-align: center;
    margin: 3px auto;
}

header nav a {
    color: rgb(72, 30, 43);
    text-decoration: none;
    margin: 29px;
    font-weight: bold;
}

.apresentação {
    background-color: rgb(239, 229, 232);
    padding: 35px;
    max-width: 350px;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.apresentação h1 {
    color: rgb(18, 9, 12);
    margin-bottom: 10px;
}
